header h1 {
	font-family: "Ariel";
	font-size: 60px;
	font-style: italic;
    text-align: right;
	font-weight: bolder;
	font-variant: small-caps;
	text-transform: none;
	color: #ff72ff;
}

h1 {
    font-family: "Ariel";
	font-size: 65px;
	font-style: oblique;
	font-weight: bolder;
	font-variant: small-caps;
	text-transform: none;
	color: #c34553;
}

body {
	font-family: "Arial";
	font-style: oblique;
	background-color: #e0ace0;
    color: #bf2283;
    text-align: left;
}
a img {
	border-style: none;
}

header {
    background-color: #000;
    margin: 0px;
    padding: 12px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

footer  {
    background-color: #000;
    margin-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 12px;
    text-align: center;
    
}

nav {
 background-color: #ffffff;
    margin-top: -16px; 
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

#main {
    margin-left: 50px;
    margin-right: 50px;
}

.highlight {
    color: #000;
}

a:hover {
    background-color: #893580;
    color: #ff72ff;
}
